.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  min-height: 100vh;
}


.App-header {
  background-color: #4a90e2;
  padding: 30px 20px;
  color: rgba(255, 255, 255, 0.553);
  border-bottom: 4px solid #357abd;
  box-shadow: 0px 2px 5px rgba(1, 1, 1, 0.068);;
  
}

.App h1{
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #556cd6;
  font-weight: 700;
}

.App .botaoIdioma {
  text-align: center;
  margin: 5px
}
.App input {
  padding: 12px;
  margin: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 500px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ;
}

.App button{
  background-color: #556cd6;
  color: white;
  border: none;
  padding: 12px 20px; 
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease-in-out;
}

.App button:hover{
  background-color: #357abd;
  transform: scale(1.05);
}

.App ul{
  list-style: none;
  padding: 0;

}

.App li{
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
  text-align: left;
  transition: transform 0.2s;
}

.App h2{
  color: #556cd6;
  font-size: 2rem;
  margin-top: 20px;
}

.App-link {
  color: #556cd6;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.App-link:hover {
  color: #3b4cca;
 
}

.slick-prev, .slick-next{
  font-size: 0;
  background-color: #556cd6;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.slick-prev:hover, .slick-next:hover{
  background-color: #357abd;
  transform: scale(1.1);
}

.slick-prev:before, .slick-next:before{
  font-size: 24px;
  color: white;
}

.slick-next{
  right: -55px;
}

.slick-prev{
  left: -55px;
}



@media (max-width: 768px) {
  .App input{
    width: 90%;
  }

  .App li{
    width: 90%;
  }
    
  
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.foto{
  width: 220px;
}

.foto img{
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  
}

.App .botaoIdioma{
  padding: 20px;
}

.perfil-container{
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.perfil-texto{
  margin-left: 20px;
  text-align: left;
  max-width: 500px;
}